{% extends "event/base.html" %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8 mt-4">
    <div class="card mb-4 mt-4">

        <div class="card-header">
            Delete Event
        </div>

        <div class="card-body">
            <p>Are you sure you want to delete <b>{{task}}</b>?</p>
            <a href="{% url 'event-detail' item.id %}" class="btn btn-outline-secondary">Cancel</a>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Delete Blog</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}