{% extends "user/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<div class="col-md-8 mt-4">
    <div class="card my-4">
        <div class="col-lg-12">
            <div class="card-header">
                <h3 class="text-black">Password Reset</h3>
            </div>
            <div class="card-body">

                <form action="" class="p-4" method="POST">
                    {% csrf_token %}

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">Email address</label>
                            {{ form.email|add_class:"form-control" }}
                            {{ form.email.errors }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input class="btn px-4 btn-primary btn-block text-white" name="Send email" type="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}
    </div>
</div>


<script>
    const form_fields = document.getElementsByTagName("input")

    form_fields[1].placeholder = 'Email Address'
</script>

{% endblock %}
